html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  font-size: 12px;
  font-family: Michroma, sans-serif;
}
#header {
    width: 100%;
    height: 40px;
    padding: 8px;
}

#header #social {
    position: absolute;
    right: 0;
    top: 32px;
}

#social > * {
  display: inline;
  opacity: 0.5;
}
#social > *:hover {
  opacity: 1.0;
}

#header > *{
  display: inline-block;
  vertical-align: baseline;
  color: #fff;
  opacity: 0.5;
}

#header > *:hover {
  opacity: 1.0;
}
#header a, #header a {
  color: #fff;
  text-decoration: none;
}

#header h1 {
  padding-right: 8px;
}

a { color: #fff; }

#content {
    width: 960px;
    margin: 8px;
}

#content > div {
    float: right;
    font-family: sans-serif;
    font-size: 16px;
    width: 400px;
    /*background-color: #ddd;*/
    /*color: #333;*/
}
